In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import bqplot.pyplot as bplt
import numpy as np
import ipywidgets
import matplotlib.colors as mpl_colors
import seaborn as sns
import bqplot
import random

In [2]:
all_states  = pd.read_csv('five_year/psam_husa.csv')
all_states2 = pd.read_csv('five_year/psam_husb.csv')
all_states3 = pd.read_csv('five_year/psam_husc.csv')
all_states4 = pd.read_csv('five_year/psam_husd.csv')

/Users/rj/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
combined_data = [all_states,all_states2]

In [4]:
combined_states = pd.concat([all_states ,
all_states2,
all_states3,
all_states4],ignore_index=True)

In [5]:
table_names = pd.read_csv("five_year/PUMS_Data_Dictionary_2014-2018.csv")
table_names.reset_index(inplace=True)
table_names = table_names[table_names.NAME=='NAME']
table_names.drop_duplicates(inplace=True)
names_dict = dict(zip(table_names['RT'], table_names['Record Type']))

In [6]:

combined_states

,RT,SERIALNO,DIVISION,PUMA,REGION,ST,ADJHSG,ADJINC,WGTP,NP,...,WGTP71,WGTP72,WGTP73,WGTP74,WGTP75,WGTP76,WGTP77,WGTP78,WGTP79,WGTP80
0,H,2014000000007,6,2400,3,1,1061728,1070673,8,6,...,7,7,8,6,1,4,8,9,3,9
1,H,2014000000053,6,700,3,1,1061728,1070673,51,2,...,45,43,71,55,57,49,74,13,18,46
2,H,2014000000060,6,100,3,1,1061728,1070673,19,2,...,26,23,18,32,6,18,21,19,27,31
3,H,2014000000066,6,400,3,1,1061728,1070673,5,8,...,12,1,4,9,11,5,7,6,5,6
4,H,2014000000221,6,1302,3,1,1061728,1070673,49,4,...,43,47,46,49,47,76,51,16,88,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7549914,H,2018HU1399157,8,300,4,56,1000000,1013097,19,1,...,30,6,6,24,21,19,34,20,6,20
7549915,H,2018HU1399964,8,500,4,56,1000000,1013097,17,2,...,5,25,18,26,29,14,18,18,11,4
7549916,H,2018HU1400326,8,400,4,56,1000000,1013097,21,5,...,22,8,23,25,20,5,7,20,18,25
7549917,H,2018HU1400502,8,100,4,56,1000000,1013097,8,2,...,8,3,6,13,4,2,14,10,6,3
7549918,H,2018HU1400515,8,500,4,56,1000000,1013097,14,1,...,14,7,12,21,12,22,7,10,24,6

In [7]:
#combined_states['Housing unit/GQ person serial number'] = combined_states['Housing unit/GQ person serial number'].astype('|S')
#combined_states['year'] = combined_states['Housing unit/GQ person serial number'].str[0:4]
#combined_states['year'] = combined_states['year'].astype('int')
combined_sample = combined_states.sample(n=10000)
combined_sample.to_csv('sample_five_year.csv')

In [8]:
combined_states_sam = combined_states.groupby('ST').apply(lambda s: s.sample(500))
combined_states_sam.to_csv('sample_five_year2.csv')